*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    position: relative;
}

section.intro{
    font-weight: 700;
    color: #737373;
}

section.intro .contato-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 3rem;
}

section.intro .botao-contato{
    background-color: #02989e;
    border: none;
    border-radius: 1rem;
    padding: .25rem 1rem;
    font-weight: 600;
    cursor: pointer;
}

section.intro .contato-container .logo-whatsapp{
    position: absolute;
    right: 0;
    cursor: pointer;
    width: 4rem;
}

section.diferencas-sistemas{
    margin-top: 3rem;    
}

section.diferencas-sistemas h1{
    text-align: center;
    color: #545454;
    font-size: 1.5rem;
    font-weight: 700;
    
}

section.diferencas-sistemas .logo-hse-sistemas-container{
    background-color: lightsalmon; 
}

section.diferencas-sistemas .logo-hse-sistemas{
    width: 3rem;
}